1. Print cookies and milk are a great dessert.

In [4]:
print ("Cookies and milk are a great dessert.")

Cookies and milk are a great dessert.

2. Print out your favorite color and above the code comment out what you are doing.

In [6]:
print ("I am typing.")
print ("blue")

I am typing.
blue

3. Print out your favority color again and add an in-line comment.

In [7]:
print ("blue")
# blue

blue

4. Print the sumation of numbers 1 to 10

In [26]:
print (1+2+3+4+5+6+7+8+9+10)

55

5. Print what 6 to the 7th power is.

In [35]:
print (6**7)

279936

6. Print the remainder of 100 divided by 11.

In [36]:
print (100%11)

1

7. What is the result of "Python" + "1"

In [37]:
print ("Python" + "1")

Python1

8. Print out 100 divided by 5

In [13]:
>>> 100/5

20.0

9. What is the different between 10/4 and 10//4?  Print out the result

In [41]:
print (10/4) - (10//4)

2.5

TypeError: unsupported operand type(s) for -: 'NoneType' and 'int'

10. Create a variable named foo that stores a string value.

In [42]:
foo = "Instructor"
foo

'Instructor'

11. Print foo variable

In [43]:
print (foo)

Instructor

12. Create a variable called height and store your height value there.
Print a sentence describing your height and use the variable in the sentence as well.

In [46]:
height = "5'9\""
print ("My height is", height)

My height is 5'9"

13. Use the last code, but now print it using a formatted string.

14. Concate two strings together using variables and print out the result

In [47]:
string1 = "Hello "
string2 = "World"
string3 = string1+string2
print(string3)

Hello World

15. Use the two different quotes in a string and print out the sentence

16. Print out Hello World! 7 times each on a new line using only one line of code.

In [49]:
print ("Hello World!\n" * 7)

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

17. What is the result of "apple" > "Apple"

In [31]:
"apple" > "Apple"

True

18. Print out if 25 multiplied by 54 is bigger than 33 multipled by 33

In [54]:
print((25 * 54) > (33 * 33))

True

19. What is the result of of 123 == “123”?

In [34]:
123=="123"

False

20. Print out a boolean table for OR using two variables
(hint: use not operator)